absl-py
annoy
asgiref
astunparse
backports.zoneinfo
cachetools
certifi
cffi
charset-normalizer
cloudpickle
contourpy
cryptography
cycler
defusedxml
dj-database-url
dj-rest-auth
Django
django-allauth
django-environ
django-filter
django-templated-mail
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
djoser
drf-jwt
environ
flatbuffers
fonttools
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
gunicorn
h5py
httplib2
idna
imageio
importlib-metadata
importlib-resources
joblib
keras
kiwisolver
lazy-loader
libclang
lime
llvmlite
Markdown
MarkupSafe
matplotlib
ml-dtypes
networkx
numba
numpy
oauth2client
oauthlib
opencv-python
opt-einsum
packaging
pandas
Pillow
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
PyDrive
PyJWT
pyparsing
python-dateutil
python3-openid
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
shap
six
slicer
social-auth-app-django
social-auth-core
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tifffile
tqdm
typing-extensions
tzdata
uritemplate
urllib3
werkzeug
whitenoise
wrapt
zipp
