<!-- Update the reset link with the custom domain -->

{% block content %}

<h1>Reset Password</h1>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  function resetpass() {

    var uidElement = document.getElementById('uid');
    var tokenElement = document.getElementById('token');
    var newPasswordElement = document.getElementById('password');
    var reNewPasswordElement = document.getElementById('re_password');

    // Check if the elements are present before accessing their values
    var uid = uidElement ? uidElement.value : '';
    var token = tokenElement ? tokenElement.value : '';
    var new_password = newPasswordElement ? newPasswordElement.value : '';
    var re_new_password = reNewPasswordElement ? reNewPasswordElement.value : '';

    if (uid && token && new_password && re_new_password) {
        $.ajax({
            method: "POST",
            // Update the URL with your custom domain using HTTPS
            url: "http://192.168.0.101:8000/auth/users/reset_password_confirm/",
            data: { uid: uid, token: token, new_password: new_password, re_new_password: re_new_password },
            success: function (data) {
                alert("Password Reset Succesfully... ");

                console.log(data);
            },
            error: function (data) {
            alert("Password Reset failed... ");
                console.log("error");
            }
        });
    } else {
        console.log("One or more elements are null or undefined.");
    }
}

</script>

<form method="POST">
  {% csrf_token %}

  <input type="hidden" id="uid" name="uid" value="{{uid}}">
  <input type="hidden" id="token" name="token" value="{{token}}">
  Password: <input type="password" id="password" name="password" /><br />
  Confirm Password: <input type="password" id="re_password" name="re_password" /><br />
  <input type="button" value="Reset" onclick="resetpass()" />
</form>

{% endblock %}
